# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim temporary files
*~
*.swp
*.swo

# ignore these folders
build/
**/bin/


# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea created files
.idea/
./java/.idea/
./cpp/.idea/
*.iml

#sphinx created files
docs/_build
docs/.docusaurus
docs/node_modules

# ignore the tmp dir
tmp/

# java
java/target
java/src/main/native/include

# IDEs
.vscode
.editorconfig

# Python env
env/

# Pycylon
python/pycylon/**/*.cpp
python/pycylon/**/*.h
